root = true

[*]
charset = utf-8
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
ij_java_brace_style = next_line
ij_java_class_brace_style = next_line
ij_java_method_brace_style = next_line

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
