# Logs of runs outside Gradle
logs/

# Gradle
.gradle/
build/
out/
classes/

# Fabric
run/

# IDE
.idea/
bin/
*.iml
.vscode/
.settings/
.classpath
.project

# Java
hs_err_*.log
replay_*.log
*.hprof
*.jfr
