*.sh
*.bat
!gradlew.bat

CHANGELOG
LICENSE.txt

temp/
runtime/
reobf/
mappingviewer/
logs/
lib/
eclipse/
docs/
conf/
bin/

# Gradle
.gradle/
build/
out/
classes/

# Fabric
run/

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Java
hs_err_*.log
replay_*.log
*.hprof
*.jfr
